{% extends "base.html" %}
{% block title %}HOME
{% endblock %}

{% block content %}

    <div class="container justify-content-center bg-light">
     <div style="text-align: center">
        <label> <h3>LOG IN</h3></label>
    </div>
                <div class="form-floating mb-3 inputs" id="email">

                    <input type="text" class="form-control" id="inputEmail" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
    </div>







    <script src="{{ url_for('static', filename='login_email.js') }}"></script>

{% endblock %}
