{% extends "base.html" %}
{% block title %}HOME
{% endblock %}

{% block content %}


    <div class="container justify-content-center bg-light">
    <div style="text-align: center">
        <label> <h3>LOG IN</h3></label>
    </div>
                <div class="form-floating mb-3" id="password">
                    <input type="password" class="form-control" id="inputPassword" placeholder="name@example.com">
                    <label for="floatingInput">Password</label>
                </div>
    </div>

    <script src="{{ url_for('static', filename='login_password.js') }}"></script>

{% endblock %}
